nb/
__pycache__/
# Jupyter Notebook
.ipynb_checkpoints
test.ipynb
run_custom.py

.git/

cached/
.Rproj.user
.RData
.RHistory
*.Rproj

config/tracker_config.py
data/*
!tracked_flights.json
!report_template.html
src/google_flight_analysis/dev.py
